/*fonts*/
@font-face {
    font-family: 'Lora';
    src: url('fonts/Lora-Medium.woff2') format('woff2'), url('Lora-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    }

    @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'), url('Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

    @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.woff2') format('woff2'), url('Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    }

    @font-face {
        font-family: 'Crumble';
        src: url('fonts/DkCrayonCrumble-ddll.ttf') format('woff2'), url('Roboto-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        }

    @font-face {
        font-family: 'Pomidorko';
        src: url('fonts/Pomidorko_cyr.ttf') format('woff2'), url('Roboto-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        }

    @font-face {
        font-family: 'Beer';
        src: url('fonts/beer\ money\ Regular.ttf') format('woff2'), url('Roboto-Bold.woff') format('woff');
        font-style: normal;
        }
    @font-face {
        font-family: 'Ustroke';
        src: url('fonts/Ustroke\ Regular.ttf') format('woff2'), url('Roboto-Bold.woff') format('woff');
        font-style: normal;
        }


*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
ul,
li{
    text-decoration: none;
     list-style: none;
}

/***************** Страница Регистрации *****************/

/***************       Регистрация      ***************/

main{
    max-width: 1200px;
    height: 700px;
    background-image: url(img/translucent-image\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(209, 193, 132); */
    background-color: #f1ece6;
    margin: 0 auto;
    color: #8f5208;
}
.zdraste{
    text-align: center;
    margin: 11px;
    color: rgba(181, 65, 65, 0.899);
    font-family: 'Beer';
    font-size: 41px;
    line-height: 34px;
    padding: 1px;

}

/************** ТАбличка *************/

/************** Обертка таблицы *************/
.wrapper__identification{
    position: relative;
    width: 29%;
    height: 317px;
    margin: 0 auto;
    display: block;
    text-align: center;
    /* border: 2px solid palevioletred; */
    /* background-color: antiquewhite; */
    /* background-color:#faebd76b; */
    /* background-color:#a19a93; */
    border-radius: 12px;
    margin-top: 84px;

}

/**************  Вход   Регистрация *************/

.tabs_header{
    display: flex;
}
h2{
       text-align: center;
    margin: 7px;
    color: rgba(181, 65, 65, 0.899);
    font-family: 'Beer';
    font-size: 41px;
    line-height: 43px;
    padding: 5px;
    border: 1px solid #b37a08;
    cursor: pointer;
    border-radius: 5px;
}

/**************  div с  логи + пароля  *************/

.user_enter{
    width: 100%;
    position: relative;
    margin-top: -30px;
    height: 300px;
}


/**************  div Входа с логи и пароля  *************/

.page_enter{
    width: 100%;
    height: 238px;
    display: none;

}

.first {
    position: relative;
    margin-top: 40px;
}



/**************  div Регистрация *************/

.page_registration{
    width: 100%;
    height: 238px;

    display: none;

}

.active{
   display: block;
   border-bottom:none ;
   background-color:#f3dca8d6 ;
}

/* #f3dca8d6
background-color:#e5e0d5;*/


.can_see{
    display: block;
    background-color:#e5e0d5;
    /* background-color:#f3dca8d6 ; */

    border-radius: 15px;
    height: 270px;
    padding-top: 5px;
}


/**********     Buttons  цвета + шрифт   *************/

button{
    display: block;
    text-align: center;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    background-color: #f1ece6;
    border-radius: 8px;
    color: rgb(89, 34, 34);
    font-family: 'Pomidorko';
    font-weight: 200;
    font-size: 28px;
    line-height: 21px;
    padding: 1px;
    border: 2px solid #b37a08;
}

.button_user_enter{
    margin-top: 80px;
}
.button_registration{
    margin-top: 20px;

}

input:hover{
    background-color: #e5e0d5;

}
button:hover{
    background-color: #92e045;
    transition: 0.6;
}

 /**********     Input==  css_class_1    цвета + шрифт   *************/

 .css_class_1{
    display: block;
    text-align: center;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f1ece6;
    border-radius: 8px;
    color: rgb(34, 20, 156);
    font-weight: 200;
    font-size: 28px;
    line-height: 21px;
    padding: 1px;
    border: 2px solid #b37a08;

}
 /*************     Inputs  Placeholder    *************/

:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

input::placeholder {
    font-family: 'beer';
}
.section_user_enter input[type=text]::placeholder {
    font-family: 'beer';
    font-weight: 200;
    font-size: 28px;

    }
    input[type=text]::-webkit-input-placeholder {
        font-family: 'beer';
        font-weight: 200;


    }
    input[type=text]::-moz-placeholder {
        font-family: 'beer';
    font-weight: 200;


    }
    input[type=text]:-moz-placeholder {
        font-family: 'beer';
        font-weight: 200;
        font-size: 28px;


    }
    input[type=text]:-ms-input-placeholder {
        font-family: 'beer';
        font-weight: 200;

    }



