{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index_registration.css' %}">
    <title>Регистрация</title>
</head>
<body>
<main style="background-image: url('{% static 'img/translucent-image (1).png' %}');">
        <h1 class="zdraste"> ЗдраСте Вам !!! </h1>

        <div class="wrapper__identification">

            <div class="tabs_header">
                <h2 class="enter_tab active" data-tab="#tab_1"> Войти </h2>
                <h2  class="resist_tab" data-tab="#tab_2"> Регистрация </h2>
            </div>


            <div class="page_enter can_see">
                <form method="post" class="user_enter">
                    {% csrf_token %}
                    <div class="first form-field">
                        {% render_field form1.username class="css_class_1" placeholder="введите имя" %}
                    </div>
                    <div class="form-field" aria-placeholder="введите пароль">
                        {% render_field form1.password class="css_class_1" placeholder="введите пароль" %}
                    </div>
                    <button type="submit" class="button_user_enter"> Вход</button>
                </form>
            </div>

            <div class="page_registration">
                 <form method="post" class="user_registration">
                    {% csrf_token %}
                    <div class="form-field">
                        {% render_field form2.username class="css_class_1" placeholder="придумайте имя" %}
                    </div>
                    <div class="form-field" aria-placeholder="Придумайте Пароль">
                        {% render_field form2.password1 class="css_class_1" placeholder="придумайте пароль" %}
                    </div>
                    <div class="form-field" aria-placeholder="повторите Пароль">
                        {% render_field form2.password2 class="css_class_1" placeholder="повторите пароль" %}
                    </div>
                    <button  type="submit" class="button_registration">Зарегистрироваться</button>
                 </form>
            </div>

        </div>
      </main>


<script src="{% static 'js/registration.js' %}"></script>
</body>
</html>